@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 214, 211, 209;
  --background-start-rgb: 28, 25, 23;
  --background-end-rgb: 28, 25, 23;
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

/* Custom Scrollbar for the story feed */
.custom-scroll::-webkit-scrollbar {
  width: 6px;
}
.custom-scroll::-webkit-scrollbar-track {
  background: #292524;
}
.custom-scroll::-webkit-scrollbar-thumb {
  background: #44403c;
  border-radius: 3px;
}
.custom-scroll::-webkit-scrollbar-thumb:hover {
  background: #57534e;
}
